<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Register Page</title>
    <meta name='description' content=''>
    <meta name='author' content='Pedro Camata Andreon'>

    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- Skeleton -->
    <link rel='stylesheet' href='../vendor/Skeleton-2.0.4/normalize.css'>
    <link rel='stylesheet' href='../vendor/Skeleton-2.0.4/skeleton.css'>

    <!-- Custom -->
    <link rel='stylesheet' href='../css/login.css'>

    <!-- Favicon -->
    <link rel='icon' type='image/png' href='../img/favicon.png'>
</head>

<body>
    <div class='container'>
        <div class='row'>
            <div id="login-box" class='four columns offset-by-four'>
                <form action="http://localhost:3000/api/register" method="post">
                    <h4>Register</h4>

                    <div class="row">
                        <div class='six columns'>
                            <label>Name</label>
                            <input class='u-full-width' name='firstname' type='text' placeholder='Firtname' id='email-input'>
                        </div>

                        <div class='six columns'>
                            <label><br></label>
                            <input class='u-full-width' name='lastname' type='text' placeholder='LastName' id='email-input'>
                        </div>
                    </div>

                    <div class='twelve columns'>
                        <label>Email</label>
                        <input class='u-full-width' name='email' type='email' placeholder='Email' id='email-input'>
                    </div>

                    <div>
                        <div class='six columns'>
                            <label>Password</label>
                            <input class='u-full-width' name='password' type='password' placeholder='Password' id='pass-input'>
                        </div>
                        <div class='six columns'>
                            <label>Confirm Password</label>
                            <input class='u-full-width' type='password' placeholder='Password' id='pass-input'>
                        </div>
                    </div>

                    <div class='twelve columns'>

                        <input class='u-full-width button-primary' type='submit' id='pass-input' value='Register'>
                    </div>

                    <div class="row more-options column">
                        <div><a href='/login'>I already have an account</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>